/* sub1_3 style */

/* 전체초기화 */
* { margin: 0; padding: 0; }
li { list-style-type: none; }
a { text-decoration: none; color: #2e2e2e;}
body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #2e2e2e;
    font-size: 16px;
}

/* font */
@font-face {
  font-family:'Heebo-Bold';
  src: url('../font/Heebo-Bold.ttf');
  }

/* header */
#main_header {
    position: relative;
    width: 1200px; height: 100px;
    /* background-color: #ccc; */
    /* border: 1px solid red; */
    margin: 0 auto;
}

#main_header > #logo > a > img{
    width: 57px; height: 61px;
    margin-top: 20px;
}

/* gnb */
#main_header > #gnb {
    position: absolute;
    width: 662px; height: 34px;
    top: 34px; left: 298px;
    z-index: 1;
}
#main_header > #gnb > .depth1 { overflow: hidden; }
#main_header > #gnb > .depth1 > li { 
    float: left; 
    width: calc(100% / 5);
    text-align: center;
    padding-top: 5px;
}
#main_header > #gnb > .depth1 > li > a {
    padding-bottom: 5px;
}

    /* 2단계 메뉴 */
    #main_header > #gnb > .depth1 {
        background-color: #fff;
    }
    #main_header > #gnb .depth2 > li {
        /* border: 1px solid red; */
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #main_header > #gnb .depth2 > li:last-child {
        padding-bottom: 20px;
    }
    #main_header > #gnb .depth2 > li:first-child {
        padding-top: 37px;
    }
    #main_header > #gnb .depth2 {
        display: none;
    }
    #main_header > #gnb .depth2 > li > a {
        font-size: 14px;
        color: #999;
        transition-duration: 0.5s;
    }
    
/*gnb hover */
#main_header > #gnb > .depth1 > li > a:hover {
    border-bottom: 3px solid #873d3b;
}
#main_header > #gnb .depth2 > li > a:hover {
    color: #2e2e2e;
}

/* lnb */
#lnb {
    position: absolute;
    top: 37px; right: 0;
    /* width: 129px; height: 38px; */
}
#lnb > ul > li {
    float: left;
    margin-left: 11px;
}
#lnb > ul > li:first-child { margin-left: 0px; }
#lnb > ul > li > a > img {
    width: 26px; height: 26px;
}

/* title 영역 */
#title {
  max-width: 100%;
  min-width: 1200px;
  height: 350px;
  background-image: url(../images/title2.jpg);
  background-size: cover;
  text-align: center;
  line-height: 350px;
  text-transform: uppercase;
  font-size: 38px;
  font-family:'Heebo-Thin';
  font-weight: lighter;
}

#title > h1 {
  color: #fff;
}
.location {
  width: 1200px; height: 50.5px;
  margin: 0 auto;
  line-height: 50.5px;
  font-size: 12px;
}
.location h1 {
  margin-top: 64px;
  text-align: center;
  font-size: 22px;
  font-family:'Heebo-Bold';
}
.location span {
  color: #999;
}

.location > p {
  text-align: center;
}

/* 버튼 영역 */
.wrap {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-top: 95.5px;
}

.btn {
  display: inline-block;
  width: 128px; height: 54px;
  padding: 5px;
  line-height: 54px;
  font-size: 15px;
  margin-right: 50px;
  text-align: center;
}


.btn:last-child,
.btn:hover {
    color: #2e2e2e;
    border-bottom: 3px solid black;
    font-weight: bold;
}

.btn:last-child {
    margin-right: 0;
}

.line {
  margin: 0 auto;
  width: 1900px; height: 6px;
  background-image: linear-gradient(to bottom, rgba(201, 198, 198, 0.8) , white);
}

  #local {
    position: relative;
    margin: 0 auto;
    font-family:'Heebo-Bold';
    font-weight: bold;
    font-size: 52px;
    text-align: center;
    padding-top: 37.7px;
    padding-bottom: 35px;
  }
  
  #loca2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }
  
  
  .info {
    width: 1200px;
    margin: 0 auto;
    display: block;
    margin-bottom: 120.7px;;
    /* outline: 2px solid red; */
  }
  
  .info img {
    width: 100px; height: 100px;
    float: left;
  }
  
  .address {
    width: 500px; height: 100px;
    margin: 0 auto;
    margin-bottom: 46px;
    /* outline: 2px solid red; */
  }
  
  .tel {
    width: 500px; height: 100px;
    margin: 0 auto;
    margin-bottom: 46px;
  }
  
  .subway {
    width: 500px; height: 100px;
    margin: 0 auto;
  }
  
  .memo {
    margin-left: 20px;
    float: left;
    margin-top: 20px;
  }
  
  #navi{
    margin: 0 auto;
    margin-top: 60px;
    width: 1200px;
    overflow: hidden;
  }
/* footer:before{display:block;width:100%;height:6px;background:url(../images/con_bar.jpg)no-repeat center top;background-size:cover;content:'';} */
footer{
  background: #2c2a29;
}
.in_footer{padding:30px 0;text-align:center;color:#999;position:relative;}
.in_footer .company_info{padding-top:30px;margin-bottom:0;font-size:0.812rem;}
.in_footer .company_info li{display:inline-block;list-style:none;line-height:1.7;}
.in_footer .company_info li:after{padding:0 14px;content:'l';}
.in_footer .company_info li:last-child:after{display:none;}
.in_footer .copyright{margin-top:2rem;}
.in_footer .r_box{width:100%;max-width:175px;position:absolute;top:30px;right:0;font-size:0.75rem;}
.in_footer .family_site{
width:100%;
padding:5px 7px;
margin-bottom:25px;
border:1px solid #999;
position: relative;
cursor: pointer;
text-align: left;
-webkit-appearance: menulist-button;
}
.in_footer .family_site #fmenu {
display: none;
  padding: 0 5px;
  position: absolute;
  bottom: 28px;
  left: -1px;
  right: 0;
  background: #fff;
border: 1px solid #999;
width: 175px;

}

.in_footer .family_site #fmenu li {
padding: 7px 0;
}

.in_footer .family_site #fmenu li>a {
display:block;
}

.in_footer .coupon{text-align:right;}
.in_footer .coupon span{margin-right:5px;}
.in_footer .logo{display:inline-block;width:179px;}
.in_footer .logo.light{display:none;}
.story_wrap footer{background:#121212;}
.story_wrap .in_footer{color:#fff;}

@media screen and (max-width:800px){
.in_footer .r_box{display:none;}
.in_footer .company_info{font-size:1rem;}
.in_footer .company_info li{display:block;}
.in_footer .company_info li:after{display:none;}
}